<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>
<form th:action="@{/security/registration}" method="POST">
    <label for="firstname">First name:</label>
    <input type="text" id="firstname" name="firstname">

    <label for="secondName">Second name:</label>
    <input type="text" id="secondName" name="secondName">

    <label for="age">Age:</label>
    <input type="number" id="age" name="age">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">

    <label for="sex">Sex:</label>
    <input type="text" id="sex" name="sex">

    <label for="telephoneNumber">Telephone number:</label>
    <input type="text" id="telephoneNumber" name="telephoneNumber">

    <label for="login">Login:</label>
    <input type="text" id="login" name="login">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <input type="submit" value="Registration">
</form>
</body>
</html>