<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Information</title>
</head>
<body>
<h1>User Information:</h1>
<p>Id: <span th:text="${user.id}"></span></p>
<p>First name: <span th:text="${user.firstname}"></span></p>
<p>Second name: <span th:text="${user.secondName}"></span></p>
<p>Age: <span th:text="${user.age}"></span></p>
<p>Telephone number: <span th:text="${user.telephoneNumber}"></span></p>
<p>Sex: <span th:text="${user.sex}"></span></p>
<p>Created: <span th:text="${user.created}"></span></p>
<p>Updated: <span th:text="${user.updated}"></span></p>
<p>Deleted: <span th:text="${user.deleted}"></span></p>

<form th:action="@{/user}" method="get">
    <input type="hidden" name="id" th:value="${user.id}" />
    <button type="submit">Update user</button>
</form>
<form th:action="@{/delete}" method="post">
    <input type="hidden" name="userId" th:value="${user.id}" />
    <button type="submit">Delete user</button>
</form>
</body>
</html>
